body{
    background-image: url("background.png");
    background-position: cover;
    border:5px solid #038bd9;
    border-radius: 10px;
}
.heading{
    width: 100%;
    border: 3px solid #00F5D4;
    border-radius: 10px;
}
.heading h3{
    display: inline;
    margin-top: 5px;
}
.heading button{
    border:1px solid white;
    border-radius: 8px;
    padding: 5px;
    float : right;
    font-size: 17px;

}
canvas{
    border: 3px solid 10px #00BBF9;
}

.modal-dialog{
    width: 90%;
    background-color: #00BBF9;
    border: 2px solid #00F5D4;
    border-radius: 10px;
}
#ins{
    font-family: 'Rubik Microbe', cursive;
    color: #FEE440;
}
.instruction-image{
    display: inline-block;
}
.modal-body{
    background-color: #9B5DE5;
}
ol{
    color: #00F5D4;
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    text-align: left;
}
nav{
    background-color: #9B5DE5;
    color: #FEE440;
    font-size: 20px;
    padding: 10px;
    bottom: -8px;
    border-bottom: 5px solid #038bd9;
}
.restart{
    font-size: 25px;
}
#game_console{
    background: url("game_console.jpg");
    background-size: cover;
    width: 750px;
    height: 357px;
    background-position: center;
    padding: 100px;
}
